body {
  background-color: #e1e2e1;
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: 'Spoqa Han Sans Neo', sans-serif;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  -webkit-appearance: none;
}
